# Solutions to Challenge problems

## Lesson 1 - Lists

## Exercise:

What does the following program print?

```python
element = 'helium'
print(element[-1])
```

1. How does Python interpret a negative index?
1. How can you display all elements but the last one without changing the list values?
> Hint: You will need to use *slicing*. *Slicing* is done by using `:`. Try the following two code example to see *slicing* in action: `element[2:4]` and `element[1:]`.

In [1]:
# Answer:
element = 'helium'
print(element[-1])

m

1. Negative indexes start with the last element and work backwards through the list.

In [6]:
# 2.
print(element[:-1])
print(element)

heliu
helium

## Lesson 2 - For Loops

## Exercise
1. Break down the steps of the following loop. What is happening at each step?
2. Why is `total` computed as `total + (number + 1)` and not `total + number`?
3. Change the accumulator value `total` to be an empty list. Append each new value
   to the list and print the final list.
   
```python
# Sum the first 10 integers.
total = 0
for number in range(10):
   total = total + (number + 1)
print(total)
```

1. Total starts with the value of zero. For each number, 0-9, the current value of total is summed with each number (plus 1). The final result is the sum of all the numbers 1-10.
1. Python (specifically the `range()` function) starts counting at zero and goes up to, but not including, the last number. It produces the numbers 0, 1, 2, 3,4, 5, 6, 7, 8, and 9. If we want the sum of the numbers one through ten, we need to add one to each of these numbers for each iteration.
1. See the code below.

In [8]:
total = []
for number in range(10):
   total.append(number + 1)
print(total)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Lesson 3 - Conditionals

## Exercise

1. What does this program print?
1. Copy the code into the next box
   and change the program so it prints `0.0`

```python
pressure = 71.9
if pressure > 50.0:
    pressure = 25.0
elif pressure <= 50.0:
    pressure = 0.0
print(pressure)
```

In [9]:
pressure = 71.9
if pressure > 50.0:
    pressure = 25.0
elif pressure <= 50.0:
    pressure = 0.0
print(pressure)

25.0

1. Since 71.9 is greater than 50.0, the first condition is true and `pressure` gets the value `25.0`. The `elif` does not execute, and the program prints 25.0 (see above).
1. See below.

In [10]:
# By changing the first value of `pressure` to any value
# less than or equal to 50.0, the program will print 0.0.
pressure = 5  # 5 <= 50.0 evaluates to True for the `elif` statement
if pressure > 50.0:
    pressure = 25.0
elif pressure <= 50.0:
    pressure = 0.0
print(pressure)

0.0

## Lesson 4 - Functions

## Exercise
1. Fill in the blanks to create a function that takes a list of numbers as an argument
   and returns the first negative value in the list.
2. What does your function do if the list is empty?
3. Test your function with several different lists to see how well it works.

```python
def first_negative(values):
    for v in ____:
        if ____:
            return ____
```

In [13]:
def first_negative(values):
    for v in values:
        if v < 0.0:
            return v

In [14]:
first_negative([0, -1, 5, -2])

-1

In [15]:
first_negative([5, 6, 7])

In [16]:
first_negative([])

1. See above.
1. Nothing. It might be helpful to design a conditional that tests this first before executing the loop.
1. The function also does nothing if the list only has positive values. It might be helpful to create a conditional that test for this as well.

## Lesson 5 - Reading Tabular Data

# Exercise
1. `read_csv()` can download data directly from a webpage.
   Download a dataset called the Titanic Data Set by passing
   the following URL to `read_csv()` instead of a file path.
   Put the new dataframe in a variable called `titanic`.
2. Use `titanic.head()` to have a look at the new dataframe.

**Data URL:**
<https://github.com/pandas-dev/pandas/raw/master/doc/data/titanic.csv>

In [20]:
# 1.
import pandas as pd
titanic = pd.read_csv('https://github.com/pandas-dev/pandas/raw/master/doc/data/titanic.csv')
# 2.
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S